<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SHEFFpage</title>
  <style>
    .full{
      width: 100%;
    }
    .half{
      width: 50%;
      float: left;
    }
  </style>
</head>
<body>
  <h1>Hello and welcome to my page!</h1>
  <div class="full">
    <p>Hello and welcome to my super awesome home page. This is a test for ruby.</p>
  </div>
  <div class="half">
    <p>This is a half of a page</p>
  </div>
  <div class="half">
    <p>This is another half of a page</p>
    <p>Here is a link to the about page. <%= link_to 'About', about_path %></p>
  </div>
</body>
</html>